/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';


.country__info.hidden{
    display: none;
}

.country__list-item{
    display: block;
    cursor: pointer;
}





